li a {
    color: green;
}

body {
    height: 100vh;
    background: white url("images/background.jpg") no-repeat left top;
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

